<a href="https://colab.research.google.com/github/chilaact/predict_aquatic_toxity/blob/master/predict_aquatic_toxity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction of Aquatic Toxity using TensorFlow

Mount drive

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Import libraries

In [0]:
from pandas import read_csv
from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

## Load data

In [7]:
data = read_csv("/content/drive/My Drive/Colab Notebooks/task/qsar_aquatic_toxicity.csv", sep=";")
data

      TPSA   SAacc  H-050  MLOGP  RDCHI  GATS1p  nN  C-040  quantitive response
0     0.00   0.000      0  2.419  1.225   0.667   0      0                3.740
1     0.00   0.000      0  2.638  1.401   0.632   0      0                4.330
2     9.23  11.000      0  5.799  2.930   0.486   0      0                7.019
3     9.23  11.000      0  5.453  2.887   0.495   0      0                6.723
4     9.23  11.000      0  4.068  2.758   0.695   0      0                5.979
..     ...     ...    ...    ...    ...     ...  ..    ...                  ...
541  24.06  35.776      2  3.326  2.837   0.849   2      0                4.651
542   9.23  11.000      0  3.275  2.727   0.874   0      0                3.953
543   0.00   0.000      0  5.165  3.111   0.732   0      0                6.219
544  13.14   9.507      0  2.859  2.614   0.827   0      0                4.995
545   0.00   0.000      0  2.255  1.800   0.917   0      0                2.480

[546 rows x 9 columns]

dataset from https://archive.ics.uci.edu/ml/datasets/QSAR+aquatic+toxicity

## Split data

In [0]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(axis=0, columns='quantitive response'),
                                                   data['quantitive response'],
                                                   test_size=0.3)